fastapi[standard]==0.116.1
pydantic-settings==2.10.1
python-dotenv==1.1.1

sqlmodel==0.0.24
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
pgvector==0.4.1

GitPython==3.1.45
antlr4-python3-runtime==4.13.2

numpy==2.0.2
joblib==1.5.1
scikit-learn==1.4.*
tensorflow==2.18.1
torch==2.8.0
transformers==4.56.1
docker==7.1.0

coloredlogs==15.0.1
